@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #000000;
    --color-foreground: #ffffff;
    --color-card: #090909;
    --color-card-foreground: #ffffff;
    --color-primary: #ffffff;
    --color-primary-foreground: #000000;
    --color-secondary: #222222;
    --color-secondary-foreground: #ffffff;
    --color-muted: #1d1d1d;
    --color-muted-foreground: #a4a4a4;
    --color-accent: #333333;
    --color-accent-foreground: #ffffff;
    --color-destructive: #ff5b5b;
    --color-destructive-foreground: #000000;
    --color-border: #242424;
    --color-input: #333333;
    --color-ring: #a4a4a4;
  }
}
