@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #1c1615;
    --color-foreground: #e1dfd3;
    --color-card: #171110;
    --color-card-foreground: #e1dfd3;
    --color-primary: #fb5536;
    --color-primary-foreground: #e1dfd3;
    --color-secondary: #cfcdc2;
    --color-secondary-foreground: #171110;
    --color-muted: #322a29;
    --color-muted-foreground: #9b978f;
    --color-accent: #1c1615;
    --color-accent-foreground: #e1dfd3;
    --color-destructive: #2b8393;
    --color-destructive-foreground: #171110;
    --color-border: #322a29;
    --color-input: #322a29;
    --color-ring: #fb5536;
  }
}
