@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #fcfcfc;
    --color-foreground: #000000;
    --color-card: #ffffff;
    --color-card-foreground: #000000;
    --color-primary: #000000;
    --color-primary-foreground: #ffffff;
    --color-secondary: #ebebeb;
    --color-secondary-foreground: #000000;
    --color-muted: #f5f5f5;
    --color-muted-foreground: #525252;
    --color-accent: #ebebeb;
    --color-accent-foreground: #000000;
    --color-destructive: #e54b4f;
    --color-destructive-foreground: #ffffff;
    --color-border: #e4e4e4;
    --color-input: #ebebeb;
    --color-ring: #000000;
  }
}
